body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.card-img{
  width: 270px;
  height: 300px;
  border-radius: 10px;
  /* display: inline-block; */
 
}

.navbar{
  height: 65px;
  background-color: #F55A5A;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.navbar>img{
  margin-right: 5px;
}

.card{
padding: 20px;
display: flex;
}

.card-details{
  padding-left: 20px;
}

.card-location{
  display: flex;
  align-items: center;
  /* alternate for justify-content with custom gap; */
  gap: 10px; 
}

hr{
  margin: 20px;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}