body{
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.card-img{
  width: 250px;
  height: 335px;
  border-radius: 10px;
  /* display: inline-block; */
 
}

.navbar{
  height: 65px;
  background-color: #F55A5A;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.navbar>img{
  margin-right: 5px;
}

.card{
padding: 20px;
}